/* Transparent hover area */
.top-hover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust height based on how much hover area you need */
    z-index: 999;
  }
  
  /* Navbar hidden by default */
  .navbar {
    position: fixed;
    top: -80px; /* Adjust based on navbar height */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    overflow: hidden;
    transition: top 0.3s;
  }
  
  /* Show navbar when hovering over the top-hover area */
  .top-hover:hover + .navbar,
  .navbar:hover {
    top: 0;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.active {
    transform: rotate(45deg);
  }
  
  .hamburger.active:before {
    transform: rotate(90deg) translateX(5px);
  }
  
  .hamburger.active:after {
    transform: rotate(-90deg) translateX(-5px);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: tra;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .Admin {
    color: rgb(190, 190, 176);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
  }
  
  .nav-links a {
    color: rgb(43, 43, 38);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
  }
  
  .nav-links a:first-child {
    font-weight: 50;
  }
  
  .nav-links a:hover {
    color: #5c5656;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
    }
  }
  
  /* Position the sign-out button */
  .sign-out-button {
    position: flex;
    top: 10px;
    right: 20px;
    padding: 2px 4px;
    background-color: #718fbc;
    color: #0b0909;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-out-button {
    margin-left: 10px; /* Add some space between buttons */
  }
  
  button {
    padding: 2px 4%;
    background-color: #7234d0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  button:hover {
    background-color: #785790;
  }
  