/* Navbar always visible at the top */
.navbar {
  position: fixed;
  top: 0; /* Navbar is always at the top */
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 5px 5px;
  z-index: 1000;
  /* overflow: hidden;  causes the dropdown menu to disappear*/ 
  transition: top 0.3s;
}
.navbar-icon {
  width: 50px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 2000; 
}

.hamburger.active {
  transform: rotate(45deg);
}

.hamburger.active:before {
  transform: rotate(90deg) translateX(5px);
}

.hamburger.active:after {
  transform: rotate(-90deg) translateX(-5px);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly; /* Distribute links evenly */
  align-items: center; /*keeps the icon centered with text */
  margin-right: 20px;
  margin-left: 20px;
}

.nav-links.active {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* top: 100%; */
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center; /*keeps the icon centered with text */

  top: 0px; /* Adjust based on your navbar height */
  left: 0; /* Aligns to the upper left */
  width: 100%; /* Set the width of the dropdown */
  background-color: #fff;
  padding: 0px 0; /* Padding inside the dropdown */
  margin-left: 0px; /* White strip on the left */
  margin-right: 0px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 1000; 
}

.nav-links li {
  margin-right: 0px; /* to keep the list away from sign out button on right*/
}

.nav-links li:last-child {
  margin-right: 0;
}

.Admin {
  color: rgb(190, 190, 176);
  text-decoration: none;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.nav-links a {
  color: rgb(43, 43, 38);
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  font-weight: 200;
}

.nav-links a:first-child {
  font-weight: 50;
}

.nav-links a:hover {
  color: #8e8484;
  font-weight: 500;
}

/* Position the sign-out button */
.sign-out-button {
  position: flex;
  top: 10px;
  right: 20px;
  padding: 2px 4px;
  background-color: #718fbc;
  color: #0b0909;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-out-button {
  margin-left: 10px; /* Add some space between buttons */
}

button {
  padding: 2px 4%;
  background-color: #7234d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}

button:hover {
  background-color: #785790;
}
/* Highlight the current page link */
.nav-links a.current-page {
  font-weight: 600; /* Bold weight for the current page */
  color: #131010; /* Optionally change the color as well */
}
/* Responsive Design Adjustments */
@media (max-width: 1024px) {
  .navbar {
    padding: 10px;
  }
  .nav-links {
    justify-content: space-evenly; /* Distribute links evenly */
    align-items: center;
  }
  .nav-links li {
    justify-content: space-evenly; /* Distribute links evenly */
    align-items: center;
  }
  .nav-links a {
    font-size: 16px;
    padding: 8px;
    margin-right: 1px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: none; /* Show the menu toggle on small screens */
  }

  .nav-links {
    display: flex; /* Don't hide the navbar links initially */
    flex-direction: row;
    position: relative;
    /* top: 100%; */
    left: 0;
    width: 100%;
    padding: 1px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center; /*keeps the icon centered with text */
  
    top: 0px; /* Adjust based on your navbar height */
    left: 0; /* Aligns to the upper left */
    width: 100%; /* Set the width of the dropdown */
    background-color: #fff;
    padding: 0px 0; /* Padding inside the dropdown */
    margin-left: 0px; /* White strip on the left */
    margin-right: 0px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1000; 
  }

  /* .nav-links.active {
    display: flex; /* Show the navbar links when active */
    /* top:20px;
  } */ */

  .navbar {
    padding: 10px;
    left:0;
    top:0;
  }
  .nav-links a {
    font-size: 14px;
    padding: 6px;
  }
  .navbar-icon {
    width: 35px; 
    height: auto;
  }
}
@media (max-width: 610px) {
  .navbar {
    left: 0; 
    padding: 10px;
  }

  .nav-links li {
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-links a {
    font-size: 12px;
    padding: 0px;
    margin-right: 0px;
  }
  .navbar-icon {
    width: 25px; 
    height: auto;
  }
}

@media (max-width: 480px) {
  
  .navbar {
    left: 0; /* Ensure it’s always aligned to the left */
    padding: 10px;
    
  }
  .nav-links{
    align-items: center; /*keeps the icon centered with text */

  }

  .nav-links li {
    margin-right: 0px;
  }

  .nav-links a {
    font-size: 13px;
    padding: 0px;
    margin-right: 0px;
  }

  .navbar-icon {
    width: 20px; 
    height: auto;
  }

}
@media (max-width: 420px) {

  .nav-links li {
    margin-right: 0px; /* margin for individual items */
    margin: 0px;
  }

  .nav-links a {
    font-size: 12px;
    padding: 0px;
    margin-right: 0px;
  }
  .navbar-icon {
    width: 20px; 
    height: auto;
  }

} 
@media (max-width: 360px) {
  .nav-links a {
    font-size: 11px;
    padding: 0px;
    margin-right: 0px;
  }
  .navbar-icon {
    width: 15px; 
    height: auto;
  }

} 