#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  text-align: center;
  width: 100%;
  padding-top: 600px; /* Adjust based on the height of the navbar */
}
/* Position the sign-out button */
.sign-out-button {
  position: flex;
  top: 10px;
  right: 20px;
  padding: 2px 4px;
  background-color: #718fbc;
  color: #0b0909;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  /* Adjust margin or padding to separate buttons */
  .sign-out-button {
  margin-left: 10px; /* Add some space between buttons */
  }
  button {
  padding: 2px 4%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  place-items: center;
  }
  button:hover {
  background-color: #640ba3;
  }
  .main-content {
    padding-top: 150px; 
    text-align: center;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto;
  }